CREATE STAGE IF NOT EXISTS ${SNOWFLAKE_DEPLOY_STAGE};

CREATE SERVICE IF NOT EXISTS ${AUTO_MAPPING_SERVICE_NAME}
  IN COMPUTE POOL ${AUTO_MAPPING_COMPUTE_POOL}
  FROM @${SNOWFLAKE_DEPLOY_STAGE}
  SPECIFICATION_FILE='${AUTO_MAPPING_SPEC_FILENAME}'
  MIN_INSTANCES = ${AUTO_MAPPING_SERVICE_MIN_INSTANCES}
  MAX_INSTANCES = ${AUTO_MAPPING_SERVICE_MAX_INSTANCES}
  EXTERNAL_ACCESS_INTEGRATIONS = (${SNOWFLAKE_EGRESS_INTEGRATION});

ALTER SERVICE ${AUTO_MAPPING_SERVICE_NAME}
  FROM @${SNOWFLAKE_DEPLOY_STAGE}
  SPECIFICATION_FILE='${AUTO_MAPPING_SPEC_FILENAME}';

ALTER SERVICE ${AUTO_MAPPING_SERVICE_NAME}
  SET MIN_INSTANCES = ${AUTO_MAPPING_SERVICE_MIN_INSTANCES},
      MAX_INSTANCES = ${AUTO_MAPPING_SERVICE_MAX_INSTANCES};
