GRANT USAGE ON COMPUTE POOL ${AUTO_MAPPING_COMPUTE_POOL} TO ROLE ${SNOWFLAKE_ROLE};
GRANT SERVICE ROLE ${AUTO_MAPPING_SERVICE_NAME}!backend_access TO ROLE ${SNOWFLAKE_ROLE};
GRANT SERVICE ROLE ${AUTO_MAPPING_SERVICE_NAME}!backend_access TO ROLE ${APP_ROLE_ADMIN};
GRANT SERVICE ROLE ${AUTO_MAPPING_SERVICE_NAME}!backend_access TO ROLE ${APP_ROLE_PUBLISHER};
GRANT SERVICE ROLE ${AUTO_MAPPING_SERVICE_NAME}!backend_access TO ROLE ${APP_ROLE_VIEWER};
