CREATE COMPUTE POOL IF NOT EXISTS ${AUTO_MAPPING_COMPUTE_POOL}
  MIN_NODES = ${AUTO_MAPPING_POOL_MIN_NODES}
  MAX_NODES = ${AUTO_MAPPING_POOL_MAX_NODES}
  INSTANCE_FAMILY = ${AUTO_MAPPING_POOL_INSTANCE_FAMILY}
  AUTO_RESUME = TRUE
  AUTO_SUSPEND_SECS = ${AUTO_MAPPING_POOL_AUTO_SUSPEND_SECS};
