CREATE SERVICE IF NOT EXISTS ${SNOWFLAKE_DATABASE}.${SNOWFLAKE_SCHEMA}.${STTM_BUILDER_SERVICE_NAME}
  IN COMPUTE POOL ${SNOWFLAKE_COMPUTE_POOL}
  EXTERNAL_ACCESS_INTEGRATIONS = (${SNOWFLAKE_EGRESS_INTEGRATION})
  FROM SPECIFICATION $$
%%SPEC_CONTENT%%
  $$;

ALTER SERVICE IF EXISTS ${SNOWFLAKE_DATABASE}.${SNOWFLAKE_SCHEMA}.${STTM_BUILDER_SERVICE_NAME}
  EXTERNAL_ACCESS_INTEGRATIONS = (${SNOWFLAKE_EGRESS_INTEGRATION})
  FROM SPECIFICATION $$
%%SPEC_CONTENT%%
  $$;
