spec:
  containers:
    - name: sttm-builder
      image: /${SNOWFLAKE_DATABASE_LOWER}/${SNOWFLAKE_SCHEMA_LOWER}/${SNOWFLAKE_IMAGE_REPOSITORY_LOWER}/sttm-builder:${IMAGE_TAG}
      env:
        PORT: "8000"
        SNOWFLAKE_ACCOUNT: ${SNOWFLAKE_ACCOUNT}
        SNOWFLAKE_HOST: ${SNOWFLAKE_HOST}
        SNOWFLAKE_STTM_BUILDER_AGENT: ${SNOWFLAKE_STTM_BUILDER_AGENT}
        SNOWFLAKE_AGENT_ORCHESTRATION_MODEL: ${SNOWFLAKE_AGENT_ORCHESTRATION_MODEL}
        CORS_ALLOWED_ORIGINS: "${CORS_ALLOWED_ORIGINS}"
      resources:
        requests:
          cpu: "0.5"
          memory: "1Gi"
        limits:
          cpu: "1"
          memory: "2Gi"
      readinessProbe:
        port: 8000
        path: /health

  endpoints:
    - name: sttm-builder
      port: 8000
      public: true
      corsSettings:
        Access-Control-Allow-Origin:
          - "${CORS_ALLOWED_ORIGINS}"
        Access-Control-Allow-Methods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
        Access-Control-Allow-Headers:
          - "Content-Type"
          - "Authorization"
          - "Accept"
          - "Sf-Context-Current-User-Token"

capabilities:
  securityContext:
    executeAsCaller: true
